/* General */
* {
    margin: 0;
    padding: 0;
}

 body {
   display: flex;
   justify-content: center;
   align-items: center;
   
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    line-height: 2;
 }


/* Main */

.main {
    width: 100vh;
    height: 100vh;

}

.container {
    width: auto;
}

.todo {

    display: flex;
    flex-direction: column;
    align-items: baseline;
    
    padding: 20px;
}

.todo__title {
    font-family: 'Bitcount Ink';
    font-weight: 400;
    line-height: 2;


    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;


}

.todo__form {

}

.todo__field {

}

.field {

}

.field__label {

}

.field__input {


}

.list {
    line-height: 3;
}

.element-list {
    display: flex;
    justify-content: space-between;
    
    padding: 20px 10px;
    border: 1px solid red;

}

h3 {
    display: flex;
    align-items: center;
}

.btn-delete {
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

/* Footer */

.footer {

}